<div class="breadcrumb-area">
    <div class="container h-100">
        <div class="row h-100 align-items-end">
            <div class="col-12">
                <div class="breadcumb--con">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/"><i class="fa fa-home"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <%= page.title %>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-bg-curve">
        <img src="/img/core-img/curve-5.png" alt="" />
    </div>
</div>

<%- page.content %>

<% if (page.related_guides) { %>
<div class="related-news-area">
    <h2 class="mb-4">Related Guides</h2>
    <div class="row">
        <!-- Single Blog Post -->
        <div class="col-12 col-lg-6">
            <div class="single-blog-post bg-img mb-50" style="background-image: url(./img/bg-img/8.jpg);">
                <!-- Post Content -->
                <div class="post-content">
                    <span class="post-date"><span>23</span> August, 2018</span>
                    <a href="#" class="post-title">Take A Tour Around Major Tom’s New HQ</a>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur
                        sadipscing esed diam nonumy eirmod tempor
                        invidunt ut
                    </p>
                    <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                </div>
            </div>
        </div>
        <!-- Single Blog Post -->
        <div class="col-12 col-lg-6">
            <div class="single-blog-post bg-img mb-50" style="background-image: url(./img/bg-img/8.jpg);">
                <!-- Post Content -->
                <div class="post-content">
                    <span class="post-date"><span>13</span> December, 2018</span>
                    <a href="#" class="post-title">Croud &amp; SEO Meet-Up – 20th Sep 2018</a>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur
                        sadipscing esed diam nonumy eirmod tempor
                        invidunt ut
                    </p>
                    <a href="#" class="read-more-btn">Read More <i class="arrow_carrot-2right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>